body {
  background-image: url(images/Sirius\ Tamed.jpg);
}
.canv {
  margin: 25px 0 0 250px;
}
.text {
  margin-top: 200px;
  max-width: 400px;
  max-height: 200px;
}
.butt {
  margin: -200px 0 0 890px;
}
